* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: blue;

}

.container {
    width: 80%;
    margin: 3rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: rgb(17, 120, 255);
    
}